* {
  margin: 0;
}

label {
}

header {
  margin: 0 auto;
  text-align: center;
  background-color: #1a2238;
  color: white;
  height: 120px;
  padding-top: 10px;
}
div {
  position: relative;
}

button {
  max-width: 150px;
  width: 150px;
  margin: 2px;
  background-color: #9daaf2;
  color: white;
  display: block;
}

#signInDiv {
  display: none;
}

.signInElem {
  width: 20%;
}

.signInElem,
label {
  width: 20%;
  display: block;
}

.signInElem,
h3 {
  width: 20%;
  margin: 0;
}

#appBoxOuter {
  border: solid 5px black;
  padding: 10px;
  background-color: #1a2238;
  padding: 10px;
  color: white;
  position: relative;
  display: inline-block;
}

.appBoxInner {
  padding: 10px;
  width: 200px;
  color: #f4db7d;
}

#foodSelector {
  padding: 20px;
}

.theChart {
  position: relative;
  left: 275px;
  bottom: 400px;
  padding: 0;
  margin: 0;
  /* display: inline;*/
  border: #1a2238 3px solid;
}

.highFat {
  background-color: rgb(220, 57, 18);
}
.highFatCarbs {
  background-color: rgb(237.5, 105, 9);
}

.highFatPro {
  background-color: rgb(118, 103.5, 21);
}

.highCarbs {
  background-color: rgb(255, 153, 0);
}
.highCarbsPro {
  background-color: rgb(135.5, 151.5, 12);
}

.highProtein {
  background-color: rgb(16, 150, 24);
}
