* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right,
    rgba(197, 82, 82, 0.596) rgba(26, 34, 56, 1)
  );
  margin: 0 auto;
}

header {
  margin: 0 auto;
  color: white;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: grey 2px solid;
}

footer {
  text-align: center;
  height: 50px;
  border-top: 3px solid grey;
  background-image: linear-gradient(white, black);
  position: relative;
  bottom: 0;
  width: 100%;
}

nav {
  margin-bottom: 0;
  padding-bottom: 0;
}
th {
  color: white;
  width: 100px;
}

button:hover {
  border-color: white;
}

button:focus {
  border-color: white;
}

#appBoxOuter {
  padding: 10px;
  background-color: #1a2238;
  padding: 10px;
  color: white;
  display: inline-block;
  bottom: 195px;
  width: 100%;
}

#foodSelector {
  padding: 20px;
}

#foodSelector > * {
  margin: 5px auto;
}

#foodSelector > button {
  max-width: 150px;
  width: 150px;
  margin: 2px auto;
  background-color: #9daaf2;
  color: white;
  display: inline-block;
}

#chart_1,
#chart_2 {
  display: inline-block;
  left: 145px;
  bottom: 200px;
}

#foodTable > * {
  color: white;
  text-align: center;
}

#chartingTitle {
  position: relative;
  bottom: 15px;
  margin-left: 15px;
}

.navItem {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  text-align: left;
  padding: 0;
  font-size: 1.7em;
}

.navItem:hover {
  text-decoration: underline;
}

.title {
  text-align: center;
}

.invite {
  color: gold;
}

.centerText {
  text-align: center;
}

.theChart {
  border: #1a2238 3px solid;
  width: 600px;
  position: relative;
  top: 10px;
}

.bigButton {
  padding: 5px;
}

.inline {
  display: inline-block;
  width: fill;
}

.asideTop {
  position: relative;
  bottom: 490px;
}

.rightPad {
  padding-right: 5px;
  color: white;
}
.silver {
  background-color: silver;
  color: white;
}
.gold {
  background-color: gold;
  color: white;
}
.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;

  color: white;
}
.blueB {
  background-color: #1a2238;
}

.padded5 {
  padding: 5px;
}

.padded20 {
  padding: 20px;
}

.lineSpaced {
  line-height: 1.6;
}

.specialSpan {
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 5px;
  height: 20px;
  font-family: Helvetica, sans-serif;
}

.bar-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
}

.inlineBlock {
  display: inline;
}

.instructions {
  font-family: monospace;
}
